body {
	font-family: Helvetica, Arial;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0;
	margin: 0;
}

.default-position {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.multi-box {
	width: 300px;
}

#page-layout {
	margin: 0 auto;
	width: -webkit-fit-content;
	background-color: rgba(0, 180, 255, 0.1);
}

#pageLogo {
	width: 100%;
	height: 100px;
	background-color: white;
}

#pageLogo img {
	padding: 20px;
}

#pageTitle {
	vertical-align: top;
	margin-top: 35px;
	margin-left: 40px;
	border-bottom: 2px solid rgba(0, 120, 200, 0.2);
	width: 990px;
	padding-bottom: 10px;
}

#pageTitle span {
	font-size: 150%;
	font-weight: 600;
	color: rgba(0, 180, 255, 0.8);
	letter-spacing: 5px;
}

#searchPanel,
#resultPanel {
	display: inline-block;
	vertical-align: top;
}

/* Search panel */
#searchPanel {
	padding-top: 5px;
	padding-left: 8px;
	padding-bottom: 5px;
	width: 320px;
	height: auto;
	background-color: rgba(0, 180, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#searchPanel label {
	margin-bottom: 7px;
	padding-top: 16px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 80%;
	font-weight: 600;
	width: 300px;
	letter-spacing: 1px;
}

#student-list,
#course-list,
#display-list {
	width: 300px;
}

#display-list {
	height: 25px;
}

#searchBtn,
#clearBtn {
	margin-top: 8px;
	cursor: pointer;
}

#searchBtn:hover {
	color: rgba(0, 0, 0, 0.5);
}

/* Result panel */
#resultPanel {
	width: 900px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -5px;
	background-color: white;
}

#list-counter {
	padding-left: 5px;
	padding-top: 20px;
	font-weight: 600;
	font-size: 90%;
}

#resultTable {
	width: 100%;
	border-collapse: collapse;
	-webkit-user-select: none;
}

/* Row Header */
.colID,
.colName,
.colMark {
	padding: 0;
}

.colID {
	width: 15%;
}

.colName {
	width: 20%;
}

.colMark {
	width: 10%;
}

.rowHeader {
	background: none;
	outline: none;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-weight: 600;
	cursor: pointer;
	text-align: left;
	margin-top: 25px;
	padding: 5px;
	padding-top: 10px;
	padding-left: 10px;
	z-index: 1;
}

.rowHeader:hover {
	color: rgba(0, 0, 0, 1);
}

.rowHeader:active {
	color: rgba(0, 0, 0, 0.2);
}

.rowHeaderActive {
	background-color: rgba(0, 180, 255, 0.1);
}

#resultTable td, th {
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
}

#resultTable th {
	overflow: hidden;
}

#resultTable td {
	padding-top: 15px;
	padding-bottom: 10px;
	height: 100%;
	vertical-align: top;
	cursor: context-menu;
}

/* For row header arrow */
.sortDirection {
	position: absolute;
	margin-top: -14px;
	z-index: 2;
}

.sortDirection img {
	position: absolute;
	height: auto;
	width: 20px;
	visibility: hidden;
}

.sortDirection.col0 {
	margin-left: 60px;
}

.sortDirection.col1 {
	margin-left: 30px;
}

.sortDirection.col2 {
	margin-left: 80px;
}

.sortDirection.col3 {
	margin-left: 80px;
}

.sortDirection.col4,
.sortDirection.col5 {
	margin-left: 55px;
}

.sortDirection.col6 {
	margin-left: 60px;
}

.regular,
.no-result {
	font-size: 80%;
}

.no-result {
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
	text-align: center;
}

.regular {
	color: black;
	margin-left: 12px;
}

/* Footer */
#table-footer {
	text-align: center;
}

#table-footer span {
	font-size: 80%;
	font-weight: 600;
}

#copyright {
	color: rgba(0, 0, 0, 0.5);
	text-align: right;
	font-size: 60%;
	padding-right: 5px;
	padding-bottom: 20px;
}

#prevBtn,
#nextBtn {
	background-color: inherit;
	border: none;
	outline: none;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
	width: 50px;
}

#prevBtn:hover,
#nextBtn:hover {
	color: rgba(0, 0, 0, 1);
	-webkit-transform: scale(1.25, 1.25);
	-webkit-transition: -webkit-transform 100ms linear;
}

#prevBtn:active,
#nextBtn:active {
	color: rgba(0, 0, 0, 0.2);
}